td, th{
  vertical-align: middle! important;
  text-align:center !important;
}
.input-group{
  margin: 20px 0px
}
td:first-of-type,td:first-of-type>div{
  height:200px;
  width:250px;

}
svg{
  height:150 ;
}
html, body{
  width: 1024px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}